/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 2%;
    margin-bottom: 4%;
}

.header_logo {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 5%;
}

.menu a {
    border-top: 2px solid white;
    padding-top: 2%;
 }

.menu a:hover {
    color: var(--main-color); 
    border-top: 2px solid var(--main-color);
 }




/****** searchbar et filters **********/

.hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.hero h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.hero_text {
    margin-top: 0px;
    margin-bottom: 2.5%;
}

.hero h2 {
    font-size: 100%;
}

::placeholder {
    color: black;
    opacity: 1;
}

.info {
    margin-top: 30px;
    margin-bottom: 30px;
}

/** searchbar **/

.searchbar {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2%;
}

.searchbar button {
    font-size: 100%;
    font-weight: bold;
    padding: 1%;
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

.searchbar i {
    display: flex;
    align-items: center;
    padding: 1%;
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

.responsive-icon {
    display: none !important;
}

.searchbar input {
    display: flex;
    justify-content: center;
    border: 1px solid var(--main-bg-color);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    /*color ne fonctionne pas, je ne sais pas pourquoi*/
}


/** filters **/

.filters {
    font-size: 17px;
    display: flex;
    gap: 15px;
}

.filters h2 {
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 95%;
    font-weight: bold;
    width: 150px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid var(--main-bg-color);
    border-radius: 50px;
    background-color: white;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.filters i {
    padding-right: 10%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle-info {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 100%;
    text-align: center;
    color: var(--main-bg-color);
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements p {
    font-weight: bold;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-title {
    margin: 0px;
    margin-bottom: 30px;
}

.hebergements-cards a {
    width: 30%;
    margin-bottom: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 0px;
}

.hebergements-cards .card-text {
    padding-left: 5px;
    height: 70px;
}

.hebergements-cards .card-title, hebergements-cards .card-subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-left: 10px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0px 0px 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activites ********/

.activites {
    width: 100%;
}

.activites-title {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
    padding-left: 35px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    padding-right: 55px;
    padding-left: 35px;
    padding-bottom: 80px;
}

.activites-cards .card-content {
    background: white;
    width: 23.5%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    overflow: hidden;
}

.activites-cards img {
    object-fit: cover;
    width: 100%;
    height: 87%;
}

.activites-cards .card-text {
    margin: 0px;
    font-size: 17px;
    background-color: white;
    padding: 15px;
}


/******* Footer **********/

.flexfooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 25%;
    margin-bottom: 3%;
}

   .mainbgbackground {
    background-color: var(--main-bg-color);
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card-content {
        height: 250px;
        padding-bottom: 40px;
        margin-bottom: 50px;
    }

    .activites-cards .card-text {
        font-size: 15px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        height: 100px;
    }

    .logo {
        width: 15%;
    }

    .menu {
        width: 100%;
        text-align: center;
    }

    .menu a {
        width: 50%;
        padding: 20px;
        border-bottom: 2px solid var(--main-bg-color);
    }
 
    .menu a:hover {
        color: var(--main-color); 
        border-bottom: 2px solid var(--main-color);
        border-top: transparent;
     }

     .hero {
        margin: 15px;
     }

     .hero h1 {
        font-size: 22px;
        margin: 10px;
        margin-left: 0px;
     }

     .searchbar {
        margin-top: 25px;
        margin-bottom: 25px;
        flex-flow: row nowrap;
     }

     .searchbar i {
        justify-content: center;
        width: 15%;
     }

     .searchbar input {
        width: 80%;
        padding: 12px;
     }

     .searchbar button {
        width: 18%;
        border-radius: 15px 15px 15px 15px;
        margin-left: -10px;
        font-size: 0;
        box-shadow: 0px 4px 5px rgb(146, 146, 146);
     }

    .responsive-icon {
        display: inline !important;
        font-size: 15px;
        color: white;
        background-color: transparent !important;
        border: none !important;
    }
    
    .filters-buttons button {
        flex-flow: row wrap;
        margin-bottom: 20px;
    }

    .info {
        margin: 0px;
        font-size: 15px;
    }

    .hebergements-and-populaires .hebergements {
        order: 2;
    }

    .populaires {
        border-radius: 0px !important;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        background-color: white !important;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .activites h2 {
        margin-top: 15px;
    }

    .activites-cards {
        flex-direction: column;
    }

   .card-content {
    width: 100% !important;
    height: 120px !important;
    margin-bottom: 10px !important;
   }





}